html, body {
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

@supports (grid-area:auto) { 
    .site {
        display: grid;
        width: 100vw;
        height: 100vh;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 10% auto auto;
        grid-template-areas: 
        'nv nv nv'
        'main main main'
        'footer footer footer'
    }

    /* Navigation  */
    .nav {
        width: 100%;
        color: white;
        grid-area: nv;
        background-color: #3C8AE5;
    }

    ul {
        display: flex;
        flex-direction: inline;
        list-style-type: none;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .nav-item {
        margin-left: auto;
        margin-right: auto;
        padding: 1em;
    }

    .nav-item:hover {
        color: #00EBC6;
    }

    /* Main */
    main {
        grid-area: main;
        background-color: white;
        display: grid;
        /* grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr;
        align-items: center; */
    }

    .logo {
        margin-left: auto;
        margin-right: auto;
    }

    img {
        width: 50%;
    }

    /* Footer */
    footer {
        grid-area: footer;
        width: 100vw;
        background-color: #00EBC6;
    }
}

/* @media only screen and (max-width: 479px) {
    @supports (grid-area:auto) { 
        .site {
            display: grid;
            width: 100vw;
            grid-template-columns: 1fr;
            grid-gap: 3px;
            grid-template-rows: repeat(4, 1fr);
            grid-template-areas: 
            'hd'
            'nv'
            'main'
            'footer'  
        }

        .header {
            flex-direction: column;
            grid-area: hd;
            text-align: center;
        }

        .header h2 {
            font-size: 25px;
        }

        .nav-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        .nav-item {
            border-bottom: none;
        }

        main {
            padding-top: 1em;
            padding-left: 0;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr 1fr;
            padding-bottom: 1em;
            text-align: center;
        }

        img {
            width: 90%;
            margin-bottom: 2em;
        }

        .a {
            grid-column: 1;
            grid-row: 1;
        }
    
        .b {
            grid-column: 2;
            grid-row: 1;
        }
    
        .c {
            grid-column: 3;
            grid-row: 1;
        }
    
        .d {
            grid-column: 1;
            grid-row: 2;
        }
    
        .e {
            grid-column: 2;
            grid-row: 2;
        }
    
        .f {
            grid-column: 3;
            grid-row: 2;
            width: 90%;
            height: auto;
            font-size: 20px;
            border-radius: 0.3em;
            border: 1px solid grey;
            margin-top: 0em;
        }

        .form {
            width: 80%;
        }
    }
}  */